<!DOCTYPE html>
<html>
  <head>
    <title>TravelPlanner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <script src="https://kit.fontawesome.com/83ea46e6d2.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Travel Planner</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
          <li class="nav-item">
              <%= link_to "Topページ", homes_top_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to books_path, class: "nav-link" do %>
              <i class="fa-solid fa-book-bookmark"></i>しおり一覧 <span class="sr-only">(current)</span>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to public_index_books_path, class: "nav-link" do %>
              <i class="fa-solid fa-address-book"></i>投稿一覧 <span class="sr-only">(current)</span>
              <% end %>
          </li>
          <li class="nav-item">
            <%= link_to my_page_path, class: "nav-link" do %>
              <i class="fa-solid fa-user-secret"></i>マイページ <span class="sr-only">(current)</span>
            <% end %>
          </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Topページ", homes_top_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_registration_path, class: "nav-link" do %>
                <i class="fa-solid fa-user-plus"></i>新規登録
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to new_user_session_path, class: "nav-link" do %>
                <i class="fa-solid fa-user-check"></i>ログイン
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to public_index_books_path, class: "nav-link" do %>
                <i class="fa-solid fa-users-between-lines"></i>ゲストログイン
              <% end %>
            </li>
          <% end %>
        </ul>
        
      </div>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </header>
  <%= yield %>
</html>

<div class="container text-center">
  <h2 class="pt-3">管理者用ログイン</h2>
 </div>
  <%= form_with model: @admin, url: session_path(resource_name), local: true  do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="container">
      <div class="card-container">
        <div class="card-body">
          <div class="form-group">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="form-group">
            <%= f.label :password %><br />
            <%= f.password_field :password, autocomplete: "current-password" %>
          </div>
          <div class="form-group">
            <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
            <% end %>
          </div>
                        
          <div class="actions">
            <%= f.submit "ログイン", class: "btn btn-lg btn-primary btn-block" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<%= render "admin/shared/links" %>
