<div><%= link_to '< 戻る', my_page_path %></div>

<h2>プロフィール編集</h2>

<%= form_with(model: @user, local: true) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "件") %> のエラーが発生しました</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "名前" %><br />
    <%= f.text_field :name, autofocus: true, id: "inputName", placeholder: "名前" %>
  </div>

  <div class="field">
    <%= f.label :profile_image, "プロフィール画像" %><br />
    <%= f.file_field :profile_image, placeholder: "プロフィール画像を選択", accept: "image/*" %>
  </div>

  <div class="actions">
    <%= f.submit "変更" %>
  </div>
<% end %>
