<style>
  .background-image-user {
    background-image: url('<%= asset_path('user.jpg') %>');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
      }
    .card-img {
      width: 100%;
      height: 140px;
      pbject-fit: cover;
    }
</style>
<%= render 'layouts/plate' %>
<div class="container py-4">
  <div class="row">
    <div class="col-md-6 offset-md-6 text-right mb-3">
      <%= form_with url: users_path, method: :get, local: true do |f| %>
        <%= f.text_field :name, placeholder: 'ユーザー検索' %>
        <%= f.submit '検索' %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <% if @users.present? %>
      <% else %>
        <p>該当するユーザーは見つかりませんでした。</p>
      <% end %>
    </div>
  </div>
  <div class="jumbotron p-3 p-md-5 text-white rounded bg-info background-image-user">
    <div class="col-md-6 mx-auto">
      <h1 class="display-4 font-italic text-center">ユーザー一覧</h1>
      <p class="lead my-3 text-center"></p>
    </div>
  </div>
    
  <% if @users.present? %>
  <div class="row justify-content-center mt-4">
    <% @users.each do |user| %>
      <div class="col-md-6 mb-4 d-flex justify-content-center">
        <div class="card shadow-sm" style="width: 250px; height: 250px;">
          <div class="card-body d-flex flex-column align-items-center justify-content-center">
            <div class="position-relative d-inline-block mb-3">
              <%= link_to user_path(user) do %>
                <% if user.profile_image.attached? %>
                  <%= image_tag "https://pf-travelp-resized-bucket.s3-ap-northeast-1.amazonaws.com/#{user.profile_image.key}-thumbnail.#{user.profile_image.blob.content_type.split('/').pop}", class: 'img-fluid', style: 'width: 100; height: 100; border-radius: 5px;', alt: 'Profile Image' %>
                <% else %>
                  <%= image_tag asset_path('default-image2.jpg'), class: 'img-fluid', width: "100", height: "80" %>
                <% end %>
              <% end %>
            </div>
            <h3 class="text-center"><%= user.name %></h3>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% end %>
</div>

<footer class="text-body-secondary py-5 bg-light text-center">
  <div class="container">
    <p class="mb-1">
      <a href="#" class="text-dark">Back to top</a>
    </p>
  </div>
</footer>