<h3>マイページ</h3>
<div>
  <div>
  <%= image_tag @user.get_profile_image(100,100), class: "rounded-circle" %>
  <% if @user == current_user %>
    <div><%= @user.name %></div>
    <div>
      <%= link_to edit_user_path(@user) do %>
      <i class="fa-solid fa-user-pen"></i>
      <% end %>
    </div>
  <% end %>
  </div>
  <%= link_to 'メールアドレス または パスワードを変更する', edit_user_registration_path %>
  <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'btn btn-info' %>
  <%= link_to '退会する', user_path(@user), method: :delete, data: { confirm: '本当に退会しますか？' }, class: 'btn btn-danger' %>
</div>