<%= render 'layouts/plate' %>
<% if @book.user_id == current_user.id || @book.shared_users.include?(current_user) %>
  <%= render 'schedules/plan' %>
<% else %>
  <%= render 'schedules/public' %>
<% end %>

<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>スケジュール</title>
  <style>
    [id^="date_"] {
      scroll-margin-top: 100px;
    }
    
    .background-image-niji {
        background-image: url('<%= asset_path('niji.jpg') %>');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
  </style>
</head>
<body>
  <div class="container mt-4">
    <div class="container mt-5">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          日付ごとのスケジュール
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <% @dates.each do |date| %>
            <a class="dropdown-item" href="#date_<%= date.strftime('%m%d') %>"><%= date.strftime('%m月%d日') %></a>
          <% end %>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="position-relative d-inline-block md-2 text-center">
        <%= image_tag @book.user.get_profile_image(100,100), class:"bd-placeholder-img rounded-circle", width: 100, height: 100, preserve_aspect_ratio: "xMidYMid slice", role: "img", "aria-label": "Placeholder", focusable: false  %>
        <div class="text-center mb-3 mt-3">
          <%= @book.user.name %>
        </div>
      </div>
    </div>

    <main>
      <div class="container py-4">
        <div class="jumbotron p-3 p-md-5 text-white rounded bg-info background-image-niji">
          <div class="col-md-6 mx-auto">
            <h2 class="display-4 font-italic text-center">スケジュール</h2>
            <p class="lead my-3 text-center"></p>
            <p class="text-center">
              <% if @book.user_id == current_user.id || @book.shared_users.include?(current_user) %>
                <%= link_to 'スケジュール作成', new_book_schedule_path(@book), data: {turbolinks: "false"}, class: 'btn btn-secondary text-black' %>
              <% end %>
            </p>
          </div>
        </div>
      </div>

      <div class="album py-5 bg-body-tertiary">
        <div class="container">
          <% if @schedules.present? %>
            <% @schedules.sort_by { |schedule| schedule.start_date || Date.new(9999, 12, 31) }.group_by { |schedule| schedule.start_date }.each do |date, schedules| %>
              <div id="date_<%= date.strftime('%m%d') %>" class="mb-4">
                <h3 class="text-center"><%= date.present? ? date.strftime('%Y年%m月%d日') : '日付未設定' %></h3>
                <div class="row">
                  <% schedules.sort_by { |schedule| schedule.start_time || Time.new(0) }.each do |schedule| %>
                    <div class="col-12 mb-3">
                      <div class="card h-100">
                        <%= link_to book_schedule_path(book_id: @book.id, id: schedule.id), class: 'text-decoration-none text-dark' do %>
                          <div class="card-body">
                            <% if schedule.start_time.present? %>
                              <% if schedule.end_time.present? %>
                                <p class="card-text"><%= schedule.start_time.strftime('%H:%M') %> - <%= schedule.end_time.strftime('%H:%M') %></p>
                              <% else %>
                                <p class="card-text"><%= schedule.start_time.strftime('%H:%M') %> -
                              <% end %>
                            <% else %>
                            
                            <% end %>
                            <h5 class="card-title">
                              <i class="fa-solid <%= schedule.icon %>"></i>
                              <%= schedule.title %>
                            </h5>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
            <% else %>
            <p class="text-center">現在、表示するスケジュールはありません。</p>
          <% end %>
      </div>
    </main>
  </div>
</body>
<%= render 'books/footer' %>
