<%= render 'schedules/plan' %>
<h1>スケジュール作成</h1>

<%= form_with(model: [@book, @schedule], local: true) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>
      <div class="alert alert-danger">
        <p>以下の項目を入力してください。</p>
        <ul>
          <% @schedule.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
       </div>
    </div>
  <% end %>
  
  <div class="form-group">
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, class: "form-control", id: "schedule_title", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :start_date, "日にち" %>
    <%= f.select :start_date, options_for_select(@date_range), {}, class: "form-control", id: "schedule_start_date", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :start_time, "開始時間" %>
    <%= f.time_field :start_time, class: "form-control", id: "schedule_start_time" %>
  </div>

  <div class="form-group">
    <%= f.label :end_time, "終了時間" %>
    <%= f.time_field :end_time, class: "form-control", id: "schedule_end_time" %>
  </div>
  
  <div class="form-group">
    <%= f.label :schedule_memo, "メモ" %>
    <%= f.text_area :schedule_memo, class: "form-control", id: "schedule_memo" %>
  </div>

  <div class="form-group">
    <%= f.label :place, "場所" %>
    <%= f.text_field :place, class: "form-control", id: "schedule_place" %>
  </div>

  <div class="form-group">
    <%= f.label :budget, "予算" %>
    <%= f.number_field :budget, class: "form-control", id: "schedule_budget" %>
  </div>

  <%= f.submit "スケジュール作成", class: "btn btn-primary" %>
<% end %>
