<div class="m-4">
    <%= link_to '作成', new_book_cost_path(@book), class: 'btn btn-outline-secondary' %>
    <%= link_to '日にち別合計', book_costs_path(@book), class: 'btn btn-outline-secondary' %>
    <%= link_to '支払者別合計', paid_totals_book_costs_path(@book), class: 'btn btn-outline-secondary' %>
    <%= link_to '支払方法別合計', payment_method_index_book_costs_path(@book), class: 'btn btn-outline-secondary' %>
  </div>
  <h1 class="d-flex justify-content-end">合計金額: <%= number_to_currency(@total_price, unit: '￥', format: '%u%n') %></h1>