<%= render 'schedules/plan' %>
<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-info text-center" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <div class=mb-4>
    <%= link_to '作成', new_book_cost_path(@book), class: 'btn btn-outline-secondary' %>
  </div>
  <h1>合計金額: <%= number_to_currency(@total_price) %></h1>
  <% @costs.group_by { |cost| cost.date.strftime('%m月%d日') }.each do |date, costs| %>
    <div class="card mb-3">
      <div class="card-header">
        <h3 class="card-title"><%= date %></h3>
      </div>
      <div class="card-body">
        <% costs.each do |cost| %>
          <div class="cost-item mb-3">
            <p class="mb-1">
              購入品 :
              <span>
                <%= link_to cost.purchase_item, book_cost_path(@book, cost), class: "btn btn-sm btn-outline-secondary" %> 
                <%= number_to_currency(cost.price, unit: '￥', format: '%u%n') %>
              </span>
            </p>
            <p class="mb-1">支払い方法 : <span><%= PAYMENT_METHODS[cost.payment_method] %></span></p>
            <p class="mb-1">支払い者 : <span><%= cost.consumer %></span></p>
            <div>
              <%= link_to book_cost_path(@book, cost), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "nav-link text-muted" do %>
                <i class="fa-solid fa-trash-can"></i><span class="sr-only">(current)</span>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>