<%= render 'layouts/plate' %>
<% if @book.user_id == current_user.id %>
  <%= render 'schedules/plan' %>
<% end %>

<div class="container">
  <% if flash[:notice] %>
    <div class="alert alert-info text-center" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <div class="my-4">
    <%= link_to 'リスト作成', new_book_check_list_path(@book), class: "btn btn-sm btn-outline-secondary" %>
  </div>

  <% @check_lists.each do |check_list| %>
    <div class="card mb-4">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h3 class="card-title">
          <span>
            <%= link_to check_list.title, edit_book_check_list_path(book_id: @book, id: check_list.id), class: "text-muted" %> 
          </span> 
         </h3>
        <div class="text-right">
          <%= link_to book_check_list_path(book_id: @book, id: check_list.id), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "nav-link text-muted" do %>
            リスト削除
            <i class="fa-solid fa-trash-can"></i><span class="sr-only">(current)</span>
          <% end %>
        </div>
      </div>
      
      

      <div class="card-body">
        <div class="mb-3 text-right">
          <%= link_to 'カテゴリー追加', new_book_check_list_category_path(@book, check_list), class: "btn btn-sm btn-outline-secondary" %>
        </div>
        <% check_list.categories.each do |category| %>
          <div class="card mb-3">
            <div class="card-header">
              <div class="d-flex justify-content-between align-items-center">
                <h5 class="card-title">
                  <span>
                    <%= link_to category.name, edit_book_check_list_category_path(book_id: @book, check_list_id: check_list.id, id: category.id), class: "text-muted" %> 
                  </span> 
                </h5>
                <div>
                  <%= link_to book_check_list_category_path(book_id: @book.id, check_list_id: check_list.id, id: category.id), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "nav-link text-muted" do %>
                    カテゴリー削除
                    <i class="fa-solid fa-trash-can"></i><span class="sr-only">(current)</span>
                  <% end %>
                </div>
              </div>
            </div>

            <div class="card-body">
              <div class="text-right mb-3">
                <%= link_to 'アイテム追加', new_book_check_list_category_item_path(@book, check_list, category), class: "btn btn-sm btn-outline-secondary" %>
              </div>
              <% category.items.each do |item| %>
                <div class="d-flex justify-content-between align-items-center border-bottom p-3">
                  <%= form_tag toggle_completed_item_path(item), method: :patch, id: "checkbox-form-#{item.id}" do %>
                    <%= check_box_tag 'completed', item.completed, item.completed, class: 'mr-2', onchange: "this.form.submit();" %>
                    <%= label_tag "item_#{item.id}", item.content, class: 'flex-grow-1 mb-0' %>
                  <% end %>
                  
                  <div class="d-flex align-items-center">
                    <%= link_to edit_book_check_list_category_item_path(book_id: @book.id, check_list_id: check_list.id, category_id: category.id, id: item.id), class: "text-muted mr-2" do %> 
                      <i class="fa-regular fa-pen-to-square"></i>
                    <% end %>
                      
                    <%= link_to book_check_list_category_item_path(book_id: @book.id, check_list_id: check_list.id, category_id: category.id, id: item.id), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "nav-link text-muted" do %>
                      <i class="fa-solid fa-trash-can"></i><span class="sr-only">(current)</span>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<footer class="text-body-secondary py-5 bg-light text-center">
  <div class="container">
    <p class="mb-1">
      <a href="#" class="text-dark">Back to top</a>
    </p>
  </div>
</footer>
