<h1><%= @check_list.title %></h1>

<%= link_to 'カテゴリ追加', new_book_category_path(check_list_id: @check_list.id) %>

<% @check_list.categories.each do |category| %>
  <h2><%= category.name %></h2>
  <%= link_to 'アイテム追加', new_book_categry_item_path(category_id: category.id) %>
  <ul>
    <% category.items.each do |item| %>
      <li>
        <%= item.name %>
        <%= item.completed ? '完了' : '未完了' %>
        <%= link_to '削除', item_path(item), method: :delete, data: { confirm: '本当に削除しますか？' } %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to '編集', edit_book_check_list_path(@check_list) %>
<%= link_to '削除', @check_list, method: :delete, data: { confirm: '本当に削除しますか？' } %>
<%= link_to '戻る', book_check_lists_path %>
