<div class="col-md-4 mb-4">
  <div class="card shadow-sm">
    <div class="text-center py-3">
      <%= link_to book_path(book.id) do %>
        <% if book.image.attached? %>
          <%= image_tag "https://pf-travelp-resized-bucket.s3-ap-northeast-1.amazonaws.com/#{book.image.key}-thumbnail.#{book.image.blob.content_type.split('/').pop}", class: 'img-fluid', width: "300", height: "200" %>
        <% else %>
          <%= image_tag asset_path('default-image.jpg'), class: 'img-fluid', width: "300", height: "200" %>
        <% end %>
      <% end %>
    </div>
    <div class="card-body">
      <p class="card-text">
        タイトル：<%= book.title %>
        <% if book.publicly_visible? %>
          <h6 class="text-muted"><i class="fa-regular fa-star"></i>公開中</h6>
        <% else %>
          <h6 class="text-muted"><i class="fa-solid fa-lock"></i>非公開</h6>
        <% end %>
      </p>
      <p class="card-text">開始日：<%= book.start_day.strftime('%Y年%m月%d日') %></p>
      <p class="card-text">終了日：<%= book.end_day.strftime('%Y年%m月%d日') %></p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <%= link_to '詳細', book_path(book.id), class: "btn btn-sm btn-outline-secondary" %>
          <%= link_to '編集', edit_book_path(book.id), class: "btn btn-sm btn-outline-secondary" %>
          <%= link_to 'プラン', book_schedules_path(book.id), class: "btn btn-sm btn-outline-secondary" %>
        </div>
        <small class="text-body-secondary"><%= time_ago_in_words(book.created_at) %>前</small>
      </div>
    </div>
  </div>
</div>
