<h3>しおり一覧ページ</h3>

<li>
  <%= link_to new_book_path do %>
    <i class="fa-solid fa-circle-plus"></i>しおり作成</i>
   <% end %>
</li>

<% @books.each do |book| %>
  <% if book.public || book.user == current_user %>
    <div>
      <%= link_to book_path(book.id) do %>
        <%= image_tag book.get_image %>
      <% end %>
      <p>タイトル：<%= book.title %></p>
      <p>開始日：<%= book.start_day %></p>
      <p>終了日：<%= book.end_day %></p>
    </div>
  <% end %>
<% end %>

