<h1>しおり作成</h1>
<%= form_with model: @book do |f| %>
  <h4>画像</h4>
  <%= f.file_field :image, accept: "image/*" %>
  <h4>タイトル</h4>
  <%= f.text_field :title %>
  
  <h4>開始日</h4>
  <%= f.text_field :start_day %>
  <h4>終了日</h4>
  <%= f.text_field :end_day %>
  <%= f.submit '投稿' %>
<% end %>