<h1>しおり作成</h1>

<% if @book.errors.any? %>
  <p>以下の項目を入力してください</p>
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with(model: @book, local: true) do |f| %>
  <div>
    <h4>画像</h4>
    <%= f.file_field :image, accept: "image/*" %>
  </div>
  
  <div>
    <h4>タイトル</h4>
    <%= f.text_field :title %>
  </div>

  <h4>開始日</h4>
  <%= f.text_field :start_day %>
  <h4>終了日</h4>
  <%= f.text_field :end_day %>
  
  <div>
    <%= f.label :public, '公開' %>
    <%= f.radio_button :public, true %>公開
    <%= f.radio_button :public, false %>非公開
  </div>
  
  <div>
    <%= f.submit '作成' %>
  </div>
  
<% end %>