<!DOCTYPE html>
<html lang="ja">
  <head>
    <title>Product example for Bootstrap</title>
    <%= stylesheet_link_tag 'style', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'app' %>
    <style>
      body {
        background-image: url('<%= asset_path("back.jpg") %>');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
      }
    </style>
  </head>
  <body>
    <div class="container py-4">
        <h2 id="heading">旅のしおり</h2>
        <h1 id="heading-text">TravelPlanner</h1>
    </div>
    <div class="grid">
        <%= image_tag '0003.jpg', class: 'img-item' %>
        <%= image_tag '0005.jpg', class: 'img-item' %>
        <%= image_tag 'kissa.jpg', class: 'img-item' %>
        <%= image_tag '0004.jpg', class: 'img-item' %>
        <%= image_tag '0001.jpg', class: 'img-item' %>
        <%= image_tag '0002.jpg', class: 'img-item' %>
    </div>
    <div class="footer"><%= link_to 'topページへ', homes_top_path, class: 'btn btn-outline-dark' %></div>
  </body>
</html>
