
<!DOCTYPE html>
<html lang="ja" >
  <head>
    <title>Product example for Bootstrap</title>
    <style>
      .background-image-sky {
        background-image: url('<%= asset_path('sky.jpg') %>');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
      .text-gradient {
        background: linear-gradient(to right, white, black);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    </style>
  </head>
  <body>
    <%= render 'layouts/plate' %>
    <div class="container py-4">
      <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-info background-image-sky">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
          <h1 class="text-gradient">Travel Planner</h1>
          <p class="lead font-weight-normal">旅に行く仲間としおりを共有して<br>思い出に残しましょう</p>
          <%= link_to '作成する', new_book_path, class: 'btn btn-outline-secondary text-black' %>
        </div>
      </div>
  
      <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
          <div class="my-3 py-3">
            <h2 class="display-5">しおりの作成</h2>
            <p class="lead">しおりを作成し、一緒に旅に行く仲間と共有しましょう。共有されたメンバーはしおりを編集することも可能です。</p>
          </div>
          <div class="image-container" style="width: 100%; height: 300px; overflow: hidden; border-radius: 21px;">
            <%= image_tag 'book.jpg', alt: 'Image', style: 'width: 100%; height: 100%; object-fit: cover;' %>
          </div>
        </div>
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 p-3">
            <h2 class="display-5">スケジュール</h2>
            <p class="lead">１日のスケジュールを計画し、楽しい旅に出かけましょう。</p>
          </div>
          <div class="image-container" style="width: 100%; height: 300px; overflow: hidden; border-radius: 21px;">
            <%= image_tag 'time.jpg', alt: 'Image', style: 'width: 100%; height: 100%; object-fit: cover;' %>
          </div>
        </div>
      </div>
      
      <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 p-3">
            <h2 class="display-5">チェックリスト機能</h2>
            <p class="lead">持ち物や出発前に行うべきことなどをリストに書き込んで確認しましょう。</p>
          </div>
          <div class="image-container" style="width: 100%; height: 300px; overflow: hidden; border-radius: 21px;">
            <%= image_tag 'list.jpg', alt: 'Image', style: 'width: 100%; height: 100%; object-fit: cover;' %>
          </div>
        </div>
        <div class="bg-primary mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
          <div class="my-3 py-3">
            <h2 class="display-5">支出管理</h2>
            <p class="lead">旅先で支払ったお金を管理できます。支払者、日付、支払方法別で合計金額を表示することができます。</p>
          </div>
          <div class="image-container" style="width: 100%; height: 300px; overflow: hidden; border-radius: 21px;">
            <%= image_tag 'monney.jpg', alt: 'Image', style: 'width: 100%; height: 100%; object-fit: cover;' %>
          </div>
        </div>
      </div>
      
      <div class="d-md-flex flex-md-equal w-100 my-md-3 pl-md-3">
        <div class="bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
          <div class="my-3 p-3">
            <h2 class="display-5">メモ機能</h2>
            <p class="lead">旅行情報や、共有したいことをメモで管理しましょう。</p>
          </div>
          <div class="image-container" style="width: 100%; height: 300px; overflow: hidden; border-radius: 21px;">
            <%= image_tag 'memo.jpg', alt: 'Image', style: 'width: 100%; height: 100%; object-fit: cover;' %>
          </div>

        </div>
        <div class="bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
          <div class="my-3 py-3">
            <h2 class="display-5">公開機能</h2>
            <p class="lead">作成したしおりを公開しましょう。<br>他のユーザーのしおりに いいね をしたり、コメントを送ることもできます。<br>いいねしたしおりを一覧で見ることができます。</p>
          </div>
          <div class="image-container" style="width: 100%; height: 300px; overflow: hidden; border-radius: 21px;">
            <%= image_tag 'kyouyu.jpg', alt: 'Image', style: 'width: 100%; height: 100%; object-fit: cover;' %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

