<%= render 'admin/users/admin' %>
<main>
  <div class="container py-4">
    <%= link_to '戻る', '#', onclick: 'history.back(); return false;', class: 'btn btn-secondary' %>
    <div class="d-flex justify-content-center">
      <div class="position-relative d-inline-block md-2">
        <%= image_tag @book.user.get_profile_image(100,100), class:"bd-placeholder-img rounded-circle", width: 140, height: 140, preserve_aspect_ratio: "xMidYMid slice", role: "img", "aria-label": "Placeholder", focusable: false  %>
        <div class="text-center mb-3 mt-3">
          <%= @book.user.name %>
        </div>
      </div>
    </div>
  </div>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <% if @schedules.present? %>
        <% @schedules.sort_by { |schedule| schedule.start_date || Date.new(9999, 12, 31) }.group_by { |schedule| schedule.start_date }.each do |date, schedules| %>
          <div id="date_<%= date.strftime('%m%d') %>" class="mb-4">
            <h3 class="text-center"><%= date.present? ? date.strftime('%Y年%m月%d日') : '日付未設定' %></h3>
            <div class="row">
              <% schedules.sort_by { |schedule| schedule.start_time || Time.new(0) }.each do |schedule| %>
                <div class="col-12 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <% if schedule.start_time.present? %>
                        <% if schedule.end_time.present? %>
                          <p class="card-text"><%= schedule.start_time.strftime('%H:%M') %> - <%= schedule.end_time.strftime('%H:%M') %></p>
                        <% else %>
                          <p class="card-text"><%= schedule.start_time.strftime('%H:%M') %> -
                        <% end %>
                      <% else %>

                      <% end %>
                      <h5 class="card-title"><%= schedule.title %></h5>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <p class="text-center">現在、表示するスケジュールはありません。</p>
      <% end %>
    </div>
  </div>
</main>
<footer class="text-body-secondary py-5 bg-light text-center">
  <div class="container">
    <p class="mb-1">
      <a href="#" class="text-dark">Back to top</a>
    </p>
  </div>
</footer>