<!DOCTYPE html>
<html>
  <head>
    <title>TravelPlanner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://kit.fontawesome.com/83ea46e6d2.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="#">Travel Planner</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to admin_dashboards_path, class: "nav-link" do %>
              <i class="fa-solid fa-book-bookmark"></i>ユーザー一覧 <span class="sr-only">(current)</span>
            <% end %>
          </li>
          <% if admin_signed_in? %>
            <li class="nav-item">
            <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link" do %>
              <i class="fa-solid fa-address-book"></i>ログアウト <span class="sr-only">(current)</span>
            <% end %>
            </li>
          <% end %>
        </ul>
        </div>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </header>
  <%= yield %>
</html>