<%= render 'admin/users/admin' %>
<h1 class="display-4 font-italic text-center">ユーザー詳細</h1>

<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h2><%= @user.name %></h2>
        </div>
        <div class="card-body">
          <div class="mb-3">
            <%= image_tag @user.get_profile_image(300,300), class: "bd-placeholder-img rounded-circle", width: 140, height: 140 %>
          </div>
          <h3>名前 : <%= @user.name %></h3>
          <h3>メール : <%= @user.email %></h3>
        </div>
        <div class="card-footer">
          <%= link_to '削除', admin_user_path(@user), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
          <%= link_to '戻る', admin_dashboards_path, class: 'btn btn-secondary' %>
        </div>
      </div>
    </div>
  </div>
</div>