<%= render 'layouts/plate' %>
<% if @book.user_id == current_user.id || @book.shared_users.include?(current_user) %>
  <%= render 'schedules/plan' %>
<% end %>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= form_with(model: [@book, @memo], local: true) do |f| %>
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">
              <%= f.text_field :title, class: 'form-control', required: true %>
            </h5>
          </div>
          <div class="card-body">
            <p class="card-text">
              <%= f.text_area :body, class: 'form-control', rows: 12 %>
            </p>
          </div>
          <div class="card-footer">
            <%= f.submit '保存', class: "btn btn-sm btn-outline-secondary btn-lg btn-block" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

