<%= render 'schedules/plan' %>

<div class="container mt-5">
  
  <% if @memo.errors.any? %>
    <%= @memo.errors.count %>件のエラーが発生しました
    <ul>
      <% @memo.errors.full_messages.each do |message| %>
        <li><%= message %>を入力してください</li>
      <% end %>
    </ul>
  <% end %>
  <div class="row justify-content-center">
    <div class="col-md-8">
        <%= form_with model: [@book, @memo], url: book_memos_path(@book) do |f| %>
            <div class="card">
              <div class="card-header">
                <h5 class="card-title">
                  <%= f.label :title, 'タイトル' %><br>
                  <%= f.text_field :title, required: true %>
                </h5>
              </div>
              <div class="card-body">
                <p class="card-text">
                  <%= f.label :body, '本文' %><br>
                  <%= f.text_area :body %>
                </p>
              </div>
              <div class="card-footer d-flex justify-content-end">
                <div class="btn-group">
                  <%= f.submit '作成' %>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
</div>