<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <%= link_to "TravelPlanner", about_path, class: "navbar-brand" %>
    <% if controller_name == 'homes' && action_name == 'about' %>
      <button id="dark-mode-toggle">ダークモード</button>
    <% end %>
    <div class="dropdown">
      <% if current_user %>
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          通知
          <span class="badge badge-danger"><%= current_user.notifications.where(read: false).count %></span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <% if current_user.notifications.where(read: false).any? %>
            <small class="dropdown-item disabled">直近5件の未読の通知を表示しています</small>
            <% current_user.notifications.where(read: false).limit(5).order(created_at: :desc).each do |notification| %>
              <%= link_to notification_message(notification), notification_path(notification), method: :patch, class: "dropdown-item" %>
            <% end %>
          <% else %>
            <span class="dropdown-item disabled">未読の通知はありません</span>
          <% end %>
        </div>
      <% else %>
        
      <% end %>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Topページ", homes_top_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to books_path, class: "nav-link" do %>
            <i class="fa-solid fa-book-bookmark"></i>しおり一覧 <span class="sr-only">(current)</span>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to public_index_books_path, class: "nav-link" do %>
            <i class="fa-solid fa-address-book"></i>投稿一覧 <span class="sr-only">(current)</span>
            <% end %>
        </li>
        <li class="nav-item">
          <%= link_to my_page_path, class: "nav-link" do %>
            <i class="fa-solid fa-user-secret"></i>マイページ <span class="sr-only">(current)</span>
          <% end %>
        </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Topページ", homes_top_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_registration_path, class: "nav-link" do %>
              <i class="fa-solid fa-user-plus"></i>新規登録
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: "nav-link" do %>
              <i class="fa-solid fa-user-check"></i>ログイン
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to public_index_books_path, class: "nav-link" do %>
              <i class="fa-solid fa-users-between-lines"></i>ゲストログイン
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_admin_session_path, class: "nav-link" do %>
              <i class="fa-solid fa-user-lock"></i>管理者用ログイン
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
<div class="mt-5"></div>