<!DOCTYPE html>
<html>
  <head>
    <title>TravelPlanner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <script src="https://kit.fontawesome.com/83ea46e6d2.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <li>
          <%= link_to books_path do %>
            <i class="fa-solid fa-book-open-reader">しおり一覧</i>
          <% end %>
        </li>
        <li>
          <%= link_to posts_path do %>
            <i class="fa-solid fa-camera-retro">投稿一覧</i>
          <% end %>
        </li>
        <li>
          <%= link_to my_page_path do %>
            <i class="fa-regular fa-user">マイページ</i>
          <% end %>
        </li>
      <% else %>
        <li>
          <%= link_to "Topページ", homes_top_path %>
        </li>
        <li>
          <%= link_to new_user_registration_path do %>
            <i class="fa-solid fa-user-plus">新規登録</i>
          <% end %>
        </li>
        <li>
          <%= link_to new_user_session_path do %>
            <i class="fa-solid fa-user-check">ログイン</i>
          <% end %>
        </li>
        <li>
          <%= link_to do %>
            <i class="fa-solid fa-users-between-lines">ゲストログイン</i>
          <% end %>
        </li>
      <% end %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
    </header>
    <%= yield %>
  </body>
</html>
